ion-content{
  
    --background: linear-gradient(197deg, rgb(0, 0, 0) 0%, rgb(46, 109, 168) 33.33%, rgb(255, 255, 255,1) 100%) !important;
}

ion-card{
    --background: white;
}

.centerText{
    text-align: center;
}

.colorText{
    color: #f4f5f8
}