ion-content{
  
    --background: linear-gradient(197deg, rgb(72, 131, 133) 0%, rgb(168, 236, 230) 33.33%, rgb(255, 255, 255,1) 100%) !important;
}

.set{
  
        --background: linear-gradient(197deg, rgb(140, 99, 167,1) 0%, rgb(229, 229, 227,1) 33.33%, rgb(255, 255, 255,1) 100%) !important;
    
}

.sett {
    --background:rgba(255,255,255,1);
}

.cred{
    --color: black;
}